.leftBlock {
  margin-top: 210px;
}

.rightBlock {
  margin-bottom: 220px;
}

.element-to-animate.animation {
  height: 500px;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #4d4d4d;
  background-color: #fff;
  margin: 0px;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 13px;
  line-height: 1.3em;
}

h1, h3, h4, p {
  margin: 0 0 20px 0;
  font-weight: normal;
}

h2 {
  font-size: 60px;
  line-height: normal;
  border-bottom: 1px solid #8b8b8b;
  font-family: "Noticia Text", serif;
  margin: 0 0 30px 0;
  font-weight: normal;
}

@media screen and (max-width: 599px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 15px;
  line-height: 1.4em;
}

a {
  color: #0000EE;
  text-decoration: none;
}

a:hover {
  color: #000088;
}

.image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

artical {
  width: 100%;
  float: left;
  overflow: hidden;
}

.l-50, .l-65, .l-35, .l-33 {
  width: 50%;
  float: left;
  position: relative;
}

.l-65 {
  width: 65%;
}

.l-35 {
  width: 35%;
}

.l-33 {
  width: 33.33%;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .m2-50 {
    width: 50%;
    float: left;
    position: relative;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .m1-100 {
    width: auto;
    float: none;
    clear: both;
  }
  .m1-50 {
    width: 50%;
    float: left;
    position: relative;
  }
}

@media screen and (max-width: 599px) {
  .s-100 {
    width: auto;
    float: none;
    clear: both;
  }
  .s-50 {
    width: 50%;
    float: left;
    position: relative;
  }
}

.container__wrapper {
  max-width: 960px;
  margin: 0 auto;
  width: auto;
  padding: 0 30px;
}

.container__wrapper .header {
  clear: both;
  overflow: hidden;
  margin: 50px 0;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .container__wrapper .header {
    text-align: center;
  }
}

@media screen and (max-width: 599px) {
  .container__wrapper .header {
    display: none;
  }
}

.container__wrapper .header h1 {
  display: inline-block;
  font-weight: bold;
}

.container__wrapper .header h1 #logo {
  color: #4d4d4d;
  font-size: 45px;
  font-family: "Noticia Text", serif;
  font-weight: bold;
}

.container__wrapper .header h1 #logo span {
  display: block;
  font-size: 20px;
}

.container__wrapper .header nav {
  display: inline-block;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .container__wrapper .header nav {
    display: block;
  }
}

.container__wrapper .header nav ul {
  padding: 0 0 0 20px;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .container__wrapper .header nav ul {
    padding: 0px;
  }
}

.container__wrapper .header nav li {
  display: inline;
  padding: 0 10px;
}

.container__wrapper .header nav li.active a {
  color: #61D0D4;
}

.container__wrapper .header nav a {
  color: #7b7b7b;
  font-family: "Noticia Text", serif;
  font-weight: bold;
  -webkit-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.container__wrapper .header nav a:hover {
  color: #61D0D4;
}

.container__wrapper .main__content--wrapper {
  position: relative;
  clear: both;
  overflow: hidden;
}

@media screen and (max-width: 599px) {
  .container__wrapper .main__content--wrapper {
    padding-top: 160px;
  }
}

.container__wrapper .main__content--wrapper h2.generic-header {
  color: #E83556;
  border-bottom: none;
  font-size: 75px;
  margin: 0 0 20px 0;
  line-height: 1em;
  font-weight: bold;
}

.container__wrapper .main__content--wrapper .hero__rounded--cta {
  margin: 0 0 20px;
  display: block;
  overflow: hidden;
}

.container__wrapper .main__content--wrapper .hero__rounded--cta li a {
  border-radius: 50%;
  background: #E83556;
  height: 130px;
  width: 130px;
  line-height: 130px;
  display: block;
  text-align: center;
  float: left;
  color: #fff;
  margin: 0px 20px 0px 0px;
  text-decoration: none;
  font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .container__wrapper .main__content--wrapper .hero__rounded--cta li a {
    height: 100px;
    width: 100px;
    line-height: 100px;
    margin: 0 16px 0 0;
  }
}

@media screen and (max-width: 599px) {
  .container__wrapper .main__content--wrapper .hero__rounded--cta li a {
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin: 0 6px 0 0;
    font-size: 12px;
  }
}

.container__wrapper .main__content--wrapper .hero__rounded--cta li a:hover {
  background: #9B2439;
}

.container__wrapper .main__content--wrapper .hero__rounded--cta li:nth-child(2) a {
  background: #61D0D4;
}

.container__wrapper .main__content--wrapper .hero__rounded--cta li:nth-child(2) a:hover {
  background: #418B8D;
}

.container__wrapper .main__content--wrapper .hero__rounded--cta li:nth-child(3) a {
  background: #D1C926;
}

.container__wrapper .main__content--wrapper .hero__rounded--cta li:nth-child(3) a:hover {
  background: #8B8619;
}

.container__wrapper .main__content--wrapper .about-left-div, .container__wrapper .main__content--wrapper .about-right-div {
  width: 46%;
  padding: 0 20px 0 0;
  text-align: right;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .container__wrapper .main__content--wrapper .about-left-div, .container__wrapper .main__content--wrapper .about-right-div {
    width: auto;
    text-align: left;
    padding: 0px;
  }
  .container__wrapper .main__content--wrapper .about-left-div .resume-year, .container__wrapper .main__content--wrapper .about-right-div .resume-year {
    float: right;
  }
}

@media screen and (max-width: 599px) {
  .container__wrapper .main__content--wrapper .about-left-div, .container__wrapper .main__content--wrapper .about-right-div {
    width: auto;
    text-align: left;
    padding: 0px;
  }
  .container__wrapper .main__content--wrapper .about-left-div .resume-year, .container__wrapper .main__content--wrapper .about-right-div .resume-year {
    float: right;
  }
}

.container__wrapper .main__content--wrapper .about-right-div {
  padding: 0 0 0 20px;
  text-align: left;
}

.container__wrapper .main__content--wrapper .hideme {
  opacity: 0;
}

.container__wrapper .main__content--wrapper .svgBlock {
  width: 2%;
  float: left;
  position: relative;
}

.container__wrapper .main__content--wrapper .svgBlock .element-to-animate {
  width: 0px;
  height: 0px;
  border: 2px solid #E83556;
  transition: height 2s;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
  -o-transition: height 2s;
  margin: 0 auto;
}

.container__wrapper .main__content--wrapper .svgBlock .element-to-animate.animation {
  height: 500px;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .container__wrapper .main__content--wrapper .svgBlock {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .container__wrapper .main__content--wrapper .svgBlock {
    display: none;
  }
}

.container__wrapper .main__content--wrapper .gallery-thumbnail artical a {
  height: auto;
  padding: 8px;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 2px -2px 5px 0px #7c765f;
  box-shadow: 2px -2px 5px 0px #7c765f;
  background: #f5f4f4;
  position: relative;
  margin: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.container__wrapper .main__content--wrapper .gallery-thumbnail artical a .content-wrp p {
  color: #61D0D4;
  margin: 20px 0 12px 0;
}

.container__wrapper .main__content--wrapper .gallery-thumbnail artical a .overlay {
  position: absolute;
  padding: 0 20px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.container__wrapper .main__content--wrapper .gallery-thumbnail artical:hover a .overlay {
  height: 100%;
  background: #61D0D4;
  opacity: 1;
}

.container__wrapper .main__content--wrapper .gallery-thumbnail artical:hover a .overlay p {
  color: #fff;
  font-size: 20px;
  margin: 20px 0;
}

.container__wrapper .main__content--wrapper .gallery-thumbnail artical:hover a .overlay:after {
  content: "\f061";
  font-family: "FontAwesome";
  position: absolute;
  bottom: 20px;
  font-size: 26px;
  color: #fff;
}

.container__wrapper .main__content--wrapper .gallery-thumbnail artical:hover a .overlay.search:after {
  content: "\f002";
  font-family: "FontAwesome";
}

.container__wrapper .main__content--wrapper .back-to-projects {
  position: absolute;
  right: 0;
  top: 55px;
  font-size: 11px;
  color: #4d4d4d;
  letter-spacing: 1px;
  font-weight: bold;
  z-index: 1;
}

@media screen and (max-width: 599px) {
  .container__wrapper .main__content--wrapper .back-to-projects {
    top: -55px;
    position: relative;
    float: right;
  }
}

.container__wrapper .main__content--wrapper .view-link {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.container__wrapper .main__content--wrapper .view-link:after {
  content: "\f0c1";
  font-family: "FontAwesome";
  padding-left: 5px;
}

.container__wrapper .main__content--wrapper .devices {
  padding-bottom: 56%;
  margin-top: 55px;
  position: relative;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .container__wrapper .main__content--wrapper .devices {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 599px) {
  .container__wrapper .main__content--wrapper .devices {
    margin-bottom: 30px;
  }
}

.container__wrapper .main__content--wrapper .devices .desktop {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container__wrapper .main__content--wrapper .devices .desktop .screenshot {
  height: 70%;
  left: 15%;
  top: 5%;
  width: 68%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-position .6s ease-out;
  transition: background-position .6s ease-out;
}

.container__wrapper .main__content--wrapper .devices .desktop .screenshot.hudl {
  background-image: url(../images/visuals/Hudl-Hub-Desktop.jpg);
}

.container__wrapper .main__content--wrapper .devices .desktop .device {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-position .6s ease-out;
  transition: background-position .6s ease-out;
  background-image: url(../images/visuals/device-desktop.png);
}

.container__wrapper .main__content--wrapper .devices .tablet {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container__wrapper .main__content--wrapper .devices .tablet .screenshot {
  height: 50%;
  left: 2%;
  top: 40%;
  width: 30%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-position .6s ease-out;
  transition: background-position .6s ease-out;
}

.container__wrapper .main__content--wrapper .devices .tablet .screenshot.hudl {
  background-image: url(../images/visuals/Hudl-Hub-Desktop.jpg);
}

.container__wrapper .main__content--wrapper .devices .tablet .device {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-position .6s ease-out;
  transition: background-position .6s ease-out;
  background-image: url(../images/visuals/device-tablet.png);
}

.container__wrapper .main__content--wrapper .devices .phone {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-position .6s ease-out;
  transition: background-position .6s ease-out;
  background-image: url(../images/visuals/device-mobile.png);
}

.container__wrapper .main__content--wrapper .devices .phone .screenshot {
  background-position: 0 100%;
  bottom: 8%;
  height: 30%;
  left: auto;
  right: 8%;
  top: auto;
  width: 12%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-position .6s ease-out;
  transition: background-position .6s ease-out;
}

.container__wrapper .main__content--wrapper .devices .phone .screenshot.hudl {
  background-image: url(../images/visuals/Hudl-Hub-Mobile.jpg);
}

.container__wrapper .main__content--wrapper .devices .phone .device {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container__wrapper .main__content--wrapper .device-buttons {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.container__wrapper .main__content--wrapper .device-buttons .device1, .container__wrapper .main__content--wrapper .device-buttons .device2 {
  margin: 0 20px;
  display: inline-block;
  color: #000;
}

.container__wrapper .main__content--wrapper .device-buttons .device1 span, .container__wrapper .main__content--wrapper .device-buttons .device2 span {
  display: block;
  font-size: 12px;
  padding: 10px 0;
}

.container__wrapper .main__content--wrapper #div1, .container__wrapper .main__content--wrapper #div2 {
  text-align: center;
  border: 1px solid #4d4d4d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.container__wrapper .main__content--wrapper #div2 {
  width: 40%;
}

.container__wrapper .main__content--wrapper .history-nav {
  border-top: 1px dotted #4d4d4d;
  margin: 40px 0 0;
  padding: 25px 0 0px;
  text-align: center;
}

.container__wrapper .main__content--wrapper .history-nav a {
  font-size: 12px;
  color: #4d4d4d;
  font-weight: bold;
  line-height: 2em;
}

.container__wrapper .main__content--wrapper .history-nav a .fa-arrow-circle-left:before, .container__wrapper .main__content--wrapper .history-nav a .fa-arrow-circle-right:before {
  padding-right: 10px;
  color: #E83556;
  font-size: 20px;
  vertical-align: -2px;
}

.container__wrapper .main__content--wrapper .history-nav .fa-arrow-circle-right:before {
  padding-left: 10px;
}

.container__wrapper .main__content--wrapper form input[type="text"], .container__wrapper .main__content--wrapper form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px dotted #4d4d4d;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container__wrapper .main__content--wrapper form button {
  background: #E83556;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  color: #fff;
}

.container__wrapper .main__content--wrapper ul.skills li div {
  display: inline-block;
  background-color: #E83556;
  -webkit-animation: width 0.5s ease-in-out;
  animation: width 0.5s ease-in-out;
  margin-bottom: 10px;
  padding: 2px 5px;
  color: #fff;
  letter-spacing: 0.5px;
}

@-webkit-keyframes width {
  from {
    width: 35%;
  }
  to {
    max-width: 100%;
  }
}

@keyframes width {
  from {
    width: 35%;
  }
  to {
    max-width: 100%;
  }
}

#footer {
  background-color: #E83556;
  padding: 30px 0;
  margin: 50px 0;
  display: block;
  overflow: hidden;
  clear: both;
}

#footer ul {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  display: table;
  height: 50px;
}

#footer ul li {
  display: table-cell;
  color: #fff;
  position: relative;
  padding-left: 65px;
  width: 25%;
  vertical-align: middle;
}

#footer ul li:before {
  font-family: "FontAwesome";
  font-size: 30px;
  background: #61D0D4;
  padding: 17px 14px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  content: "\f095";
}

#footer ul li:nth-child(2):before {
  content: "\f003";
  font-size: 23px;
}

#footer ul li:nth-child(3):before {
  content: "\f067";
}

#footer ul li:last-child:before {
  content: "\f1f9";
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  #footer ul li {
    display: inline-block;
    width: 39%;
    height: 50px;
    margin: 5px 0;
  }
}

@media screen and (max-width: 599px) {
  #footer ul li {
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0 0 0;
  }
}

.mobile-header {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 50px 30px;
}

@media screen and (max-width: 599px) {
  .mobile-header {
    display: block;
  }
}

.mobile-header #titleBar {
  position: relative;
}

.mobile-header #titleBar #logo {
  color: #4d4d4d;
  font-family: "Noticia Text", serif;
  font-weight: bold;
  font-size: 30px;
}

.mobile-header #titleBar #logo span {
  display: block;
  font-size: 16px;
}

.mobile-header #titleBar .toggle-icon {
  position: absolute;
  right: 0;
  top: 38px;
}

.mobile-header #titleBar .toggle-icon:after {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 30px;
  color: #4d4d4d;
}

.mobile-header #titleBar #navPanel {
  height: 0;
  overflow: hidden;
}

.mobile-header #titleBar #navPanel nav {
  background: #fff;
}

.mobile-header #titleBar #navPanel nav li.active a {
  color: #61D0D4;
}

.mobile-header #titleBar #navPanel nav li a {
  color: #7b7b7b;
  font-family: "Noticia Text", serif;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #a69f88;
  -webkit-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.mobile-header #titleBar #navPanel nav li a:hover {
  background: #61D0D4;
  color: #fff;
}

.mobile-header.toggle #titleBar #navPanel {
  height: auto;
}

.mobile-header.toggle #titleBar .toggle-icon:after {
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 32px;
  background: #fff;
  padding: 8px;
}

.mobile-header.toggle #titleBar {
  z-index: 6000;
}

.greyOverlay {
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  z-index: 5000;
  display: none;
}
/*# sourceMappingURL=main.css.map */