//======= COLORS =========

$body-background-color:#fff;
$menu-item-color:#7b7b7b;
$menu-active-color:#61D0D4;
$link-color:#0000EE;
$text-color:#4d4d4d;
$white-text-color:#fff;
$theme-color:#E83556;


//===FONTS ======
$text-font:"Trebuchet MS", Helvetica, sans-serif;
$header-font:'Noticia Text', serif;

//=== SIZES ======
$container-width:960px;
$text-size:15px;
$secondary-text-size:3em;
